@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

h1 {
  margin-block-start: 0px;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

.post-section,
.user-section {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .post-section,
  .user-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .post-section,
  .user-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
